body {
    background-color: var(--bg);
    color: var(--text);
    font-family: sans-serif;
    touch-action: manipulation;
    padding: 10px;
    font-size: var(--font-size);
}

h1 {
    color: var(--text);
    font-size: 45px;
}

p {
    color: var(--text);
    margin: 0 0 8px 0;
    font-size: var(--font-size);
}

a {
    color: #2196f3;
    font-size: var(--font-size);
}

pre {
    color: var(--text);
    white-space: pre-wrap;
    margin: 0;
    font-size: 19px;
}